{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} My Meetups {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    {% block stie_css %} {% endblock %}
</head>
<body>
<header id="main-header">
    <nav><a href="/meetups" id="main-logo">DjangoMeetups</a></nav>
    {% block main_heading %} {% endblock %}
    {% block header_content %} {% endblock %}
</header>
<main>
    {% block body %} {% endblock %}
</main>
</body>
</html>